NEXT_PUBLIC_SUPABASE_URL=https://izgkvadgbjsnlbmppwsp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6Z2t2YWRnYmpzbmxibXBwd3NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDgyMTksImV4cCI6MjA5MjQyNDIxOX0.tVRcLdCVSExKbC5TousAQj5_lX_DHkuzz_MyqdL3xfw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6Z2t2YWRnYmpzbmxibXBwd3NwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg0ODIxOSwiZXhwIjoyMDkyNDI0MjE5fQ.x0mgsE1XDkGUG8DE0e-B0b6odLsi33dkxrfH2paqehY
